body {
  font-family: Arial;
  text-align: center;
}

input {
  padding: 8px;
}

button {
  padding: 8px;
  margin-left: 5px;
}

li {
  list-style: none;
  margin: 10px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
